/* Import utilities */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --pta-c-type-normal: #A8A77A;
  --pta-c-type-fire: #EE8130;
  --pta-c-type-water: #6390F0;
  --pta-c-type-electric: #F7D02C;
  --pta-c-type-grass: #7AC74C;
  --pta-c-type-ice: #96D9D6;
  --pta-c-type-fighting: #C22E28;
  --pta-c-type-poison: #A33EA1;
  --pta-c-type-ground: #E2BF65;
  --pta-c-type-flying: #A98FF3;
  --pta-c-type-psychic: #F95587;
  --pta-c-type-bug: #A6B91A;
  --pta-c-type-rock: #B6A136;
  --pta-c-type-ghost: #735797;
  --pta-c-type-dragon: #6F35FC;
  --pta-c-type-dark: #705746;
  --pta-c-type-steel: #B7B7CE;
  --pta-c-type-fairy: #D685AD;
}

/* Global styles */
/* Import utilities */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* System specific styling */
/* Import utilities */
.item-form {
  font-family: "Roboto", sans-serif;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.sheet-header .header-fields {
  flex: 1;
}
.sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tox .tox-editor-container {
  background: #fff;
}
.tox .tox-edit-area {
  padding: 0 8px;
}

.resource-label {
  font-weight: bold;
}

/* Import utilities */
.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-header > * {
  font-size: 14px;
  text-align: center;
}
.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.items-list .item-name h3, .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.items-list .item:last-child {
  border-bottom: none;
}
.items-list .item .item-name {
  color: #191813;
}
.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.effects .item .effect-source,
.effects .item .effect-duration,
.effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects .item .effect-controls {
  border: none;
}

/* Import utilities */
/* Classes for creating pokemon type boxs and their effects */
ol.pokemon-team {
  list-style: none;
  padding: 0px;
}
ol.pokemon-team .pokemon {
  --angle: 110deg;
  --scale: 60%;
  --type-c-one: var(--pta-c-type-normal);
  --type-c-two: var(--pta-c-type-normal);
  background-color: var(--type-c-one);
  margin-bottom: 5px;
  position: relative;
  width: 225px;
  height: 75px;
}
ol.pokemon-team .pokemon[data-type-two] {
  background-image: linear-gradient(var(--angle), var(--type-c-one) var(--scale), var(--type-c-two) calc(var(--scale) + 2px));
}
ol.pokemon-team .pokemon::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: width 0.1s ease-in-out;
  float: right;
}
ol.pokemon-team .pokemon:hover::after {
  width: 0%;
}
ol.pokemon-team .pokemon[data-type-one=normal] {
  --type-c-one: var(--pta-c-type-normal);
}
ol.pokemon-team .pokemon[data-type-one=fire] {
  --type-c-one: var(--pta-c-type-fire);
}
ol.pokemon-team .pokemon[data-type-one=water] {
  --type-c-one: var(--pta-c-type-water);
}
ol.pokemon-team .pokemon[data-type-one=electric] {
  --type-c-one: var(--pta-c-type-electric);
}
ol.pokemon-team .pokemon[data-type-one=grass] {
  --type-c-one: var(--pta-c-type-grass);
}
ol.pokemon-team .pokemon[data-type-one=ice] {
  --type-c-one: var(--pta-c-type-ice);
}
ol.pokemon-team .pokemon[data-type-one=fighting] {
  --type-c-one: var(--pta-c-type-fighting);
}
ol.pokemon-team .pokemon[data-type-one=poison] {
  --type-c-one: var(--pta-c-type-poison);
}
ol.pokemon-team .pokemon[data-type-one=ground] {
  --type-c-one: var(--pta-c-type-ground);
}
ol.pokemon-team .pokemon[data-type-one=flying] {
  --type-c-one: var(--pta-c-type-flying);
}
ol.pokemon-team .pokemon[data-type-one=psychic] {
  --type-c-one: var(--pta-c-type-psychic);
}
ol.pokemon-team .pokemon[data-type-one=bug] {
  --type-c-one: var(--pta-c-type-bug);
}
ol.pokemon-team .pokemon[data-type-one=rock] {
  --type-c-one: var(--pta-c-type-rock);
}
ol.pokemon-team .pokemon[data-type-one=ghost] {
  --type-c-one: var(--pta-c-type-ghost);
}
ol.pokemon-team .pokemon[data-type-one=dragon] {
  --type-c-one: var(--pta-c-type-dragon);
}
ol.pokemon-team .pokemon[data-type-one=dark] {
  --type-c-one: var(--pta-c-type-dark);
}
ol.pokemon-team .pokemon[data-type-one=steel] {
  --type-c-one: var(--pta-c-type-steel);
}
ol.pokemon-team .pokemon[data-type-one=fairy] {
  --type-c-one: var(--pta-c-type-fairy);
}
ol.pokemon-team .pokemon[data-type-two=normal] {
  --type-c-two: var(--pta-c-type-normal);
}
ol.pokemon-team .pokemon[data-type-two=fire] {
  --type-c-two: var(--pta-c-type-fire);
}
ol.pokemon-team .pokemon[data-type-two=water] {
  --type-c-two: var(--pta-c-type-water);
}
ol.pokemon-team .pokemon[data-type-two=electric] {
  --type-c-two: var(--pta-c-type-electric);
}
ol.pokemon-team .pokemon[data-type-two=grass] {
  --type-c-two: var(--pta-c-type-grass);
}
ol.pokemon-team .pokemon[data-type-two=ice] {
  --type-c-two: var(--pta-c-type-ice);
}
ol.pokemon-team .pokemon[data-type-two=fighting] {
  --type-c-two: var(--pta-c-type-fighting);
}
ol.pokemon-team .pokemon[data-type-two=poison] {
  --type-c-two: var(--pta-c-type-poison);
}
ol.pokemon-team .pokemon[data-type-two=ground] {
  --type-c-two: var(--pta-c-type-ground);
}
ol.pokemon-team .pokemon[data-type-two=flying] {
  --type-c-two: var(--pta-c-type-flying);
}
ol.pokemon-team .pokemon[data-type-two=psychic] {
  --type-c-two: var(--pta-c-type-psychic);
}
ol.pokemon-team .pokemon[data-type-two=bug] {
  --type-c-two: var(--pta-c-type-bug);
}
ol.pokemon-team .pokemon[data-type-two=rock] {
  --type-c-two: var(--pta-c-type-rock);
}
ol.pokemon-team .pokemon[data-type-two=ghost] {
  --type-c-two: var(--pta-c-type-ghost);
}
ol.pokemon-team .pokemon[data-type-two=dragon] {
  --type-c-two: var(--pta-c-type-dragon);
}
ol.pokemon-team .pokemon[data-type-two=dark] {
  --type-c-two: var(--pta-c-type-dark);
}
ol.pokemon-team .pokemon[data-type-two=steel] {
  --type-c-two: var(--pta-c-type-steel);
}
ol.pokemon-team .pokemon[data-type-two=fairy] {
  --type-c-two: var(--pta-c-type-fairy);
}

/* Styles limited to pta3 sheets */

/*# sourceMappingURL=pta3.css.map */
