@use '../module' as util;

/* Classes for creating pokemon type boxs and their effects */

ol.pokemon-team {
    list-style: none;
    padding: 0px;
    .pokemon {
        --angle: 110deg;
        --scale: 60%;

        --type-c-one: var(--pta-c-type-normal);
        --type-c-two: var(--pta-c-type-normal);

        background-color: var(--type-c-one);
        margin-bottom: 5px;
        position: relative;
        width: 225px;
        height: 75px;
        box-sizing: border-box;
        padding: var(--pta-scale-px);
        display: flex;
        flex-direction: row;

        .portrait {
            flex: 0 0;
            background-image: url(https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/814.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            aspect-ratio: 1;
        }

        .details {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            text-align: center;
            >* {
                flex: 1;
                width: 100%;
            }

            .nickname {
                font-weight: bold;
                font-size: var(--pta-scale-em);
            }

            .health {
                flex: 0;
            }
        }

        &[data-type-two] {
            background-image: linear-gradient(var(--angle), var(--type-c-one) var(--scale), var(--type-c-two) calc(var(--scale) + 2px));
        }

        @each $type in util.$pokemon-types {
            &[data-type-one=#{$type}] {
                --type-c-one: var(--pta-c-type-#{$type});
            }
        }

        @each $type in util.$pokemon-types {
            &[data-type-two=#{$type}] {
                --type-c-two: var(--pta-c-type-#{$type});
            }
        }
    }

    .ailment {
        display: none;
        min-width: 50px;
    }

    [data-ailment]:not([data-ailment="none"], [data-ailment=""]) .ailment {
        display: block;
        background-color: red;
        padding: 2px 4px;
        right: 0%;
        top: 0%;
        transform: translate(10px, -10px);
        position: absolute;
    }
}