<div class="pta-tab">
    <div class="pta-tab-content flexcol flex-group-start flex-gap-m">
        <ol class="pta-move-list items-list">
            <span class="items-header flexrow">
                <span class="item-name">Moves</span>
                <div class="item-controls">
                    <a data-action="importMoves" class="item-control fas fa-arrow-down-to-line" title="PTA.Button.ImportMoves"></a>
                </div>
            </span>
            {{log this}}
            {{#each items as | item key |}}
                {{#if (eq item.type 'move')}}{{> 'pta.list-item' item=item}}{{/if}}
            {{/each}}
        </ol>
    </div>
</div>