<div class="pta-tab">
    <div class="flexrow" style="justify-content: flex-start; align-items: flex-start;">
        {{> 'pta.trainer-pokemon-team'}}
        {{> 'pta.trainer-pokemon-box'}}
    </div>
</div>