<div class="pta-tab">
    {{!-- Search options for filtering the pokemon list --}}
    <div class="flexrow flex-gap-s flex-align-start">
        {{> 'pta.trainer-pokemon-team'}}
        {{> 'pta.trainer-pokemon-box'}}
    </div>
</div>