<div class="pta-tab">
    {{!-- Search options for filtering the pokemon list --}}
    <div class="flexrow flex-gap-s" style="justify-content: flex-start; align-items: flex-start;">
        {{> 'pta.trainer-pokemon-team'}}
        {{> 'pta.trainer-pokemon-box'}}
    </div>
</div>