<div>
    <div class="form-group">
        <label>Shiny</label>
        <div class="form-fields">
            {{formInput (getField schema 'shiny') value=system.shiny}}
        </div>
    </div>
    {{#if (isGM)}}
        {{formInput gmNotes.field value=gmNotes.value enriched=gmNotes.enriched name='system.gmNotes' toggled=false}}
    {{/if}}
</div>