<div class="flexrow align-left">
    <div class="flex0">
        <div data-application-part="abilities"></div>
    </div>
    <div style="align-self: flex-start;">
        <span class="items-header flexrow">
            <span class="item-name">Moves</span>
            <span>Controls</span>
        </span>
        <ol class="pta-move-list">
            {{#each items as | item key |}}
                {{> 'pta.list-item' item=item isEditMode=../isEditMode isPlayMode=../isPlayMode}}
            {{/each}}
        </ol>
    </div>
</div>